{% extends 'base.html' %}

{% block head %}
    <title>Rasptank</title>
{% endblock %}

{% block body %}
    <h1>Rasptank</h1>

    <div id="container">
        <div id="motor">
            <p><img src="/static/ressources/electric-motor.png" alt="Example"></p>
            <br>
            <p><a href="/move/forward_left"><img src="/static/ressources/left.png" style="transform: rotate(60deg);" alt="Example"></a></p>
            <p><a href="/move/forward"><img src="/static/ressources/left.png" style="transform: rotate(90deg);" alt="Example"></a></p>
            <p><a href="/move/forward_right"><img src="/static/ressources/left.png" style="transform: rotate(120deg);" alt="Example"></a></p>
            <br>
            <p><a href="/move/left"><img src="/static/ressources/left.png" alt="Example"></a></p>
            <p><a href="/move/right"><img src="/static/ressources/left.png" style="transform: rotate(180deg);" alt="Example"></a></p>
            <br>
            <p><a href="/move/backward_right"><img src="/static/ressources/left.png" style="transform: rotate(240deg);" alt="Example"></a></p>
            <p><a href="/move/backward"><img src="/static/ressources/left.png" style="transform: rotate(270deg);" alt="Example"></a></p>
            <p><a href="/move/backward_left"><img src="/static/ressources/left.png" style="transform: rotate(300deg);" alt="Example"></a></p>

            <br>
            <p><a href="/move/DS"><img src="/static/ressources/stop.png" alt="Example"></a></p>
            <p><a href="/move/TS"><img src="/static/ressources/stop_turn.png" alt="Example"></a></p>
        </div>

        <div id="qr-code">
            <p><a href="/qr-code"><img src="/static/ressources/qr-code.png" alt="ar camera icons"></a></p>
        </div>


        {% if team == 'BLUE' %}
            <img src="/static/ressources/blue.png" alt="Example">
        {% elif team == 'RED' %}
            <img src="/static/ressources/red.png" alt="Example">
        {% endif %}

    </div>
{% endblock %}